<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kevin.dao.extMapper.sys.SysLogExtMapper">
    <resultMap id="extMap" type="com.kevin.model.ext.sys.SysLogExt" extends="com.kevin.dao.mapper.SysLogMapper.BaseResultMap">
		<association property="sysUser" column="user_id"  resultMap="com.kevin.dao.mapper.SysUserMapper.BaseResultMap" />
	</resultMap>
	<select id="querySysLogExtList" parameterType="java.util.Map" resultMap ="extMap">
	    select 
	    	l.log_id, l.log_type_id, l.log_detail, L.create_time,
	    	u.user_id, u.user_name,u.user_acc
	    from sys_log l
	    inner join sys_user u on l.create_user_id = u.user_id
	    where
		l.record_state = 'Y'
		and u.record_state = 'Y'
	    <if test="sysLog != null">
			<if test="sysLog.logTypeId != null and sysLog.logTypeId != '' ">
				and l.log_type_id = #{sysLog.logTypeId}
			</if>
		</if>
	    order by l.create_time DESC
	</select>
	
</mapper>